@using Microsoft.Extensions.Primitives
@inject Microsoft.Extensions.Options.IOptions<InternetId.Common.InternetIdOptions> internetIdOptions
@{
    Layout = "_ThinLayout";
    ViewBag.Title = "Sign out";
}

<div class="card text-center">
    <div class="card-body">

        <h1>@ViewBag.Title</h1>

        @if (User.Identity!.IsAuthenticated)
        {
            <p class="lead">Sign out of @internetIdOptions.Value.Title?</p>
            <form class="mb-3" method="post">
                @* Flow the request parameters so they can be received by the LogoutPost action: *@
                @foreach (var parameter in Context.Request.HasFormContentType ? (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
                {
                    <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
                }
                <button type="submit" class="btn btn-primary">Confirm sign out</button>
                <a href="javascript:history.back()" class="btn btn-outline-primary">Go back</a>
            </form>
        }
        else
        {
            <p class="lead">You are logged out of @internetIdOptions.Value.Title</p>
            <p>
                <a class="btn btn-outline-primary" asp-page="/Login">Login</a>
                <a href="javascript:history.back()" class="btn btn-outline-primary">Go back</a>
            </p>
        }

        <p>
            Thank you for using <a href="~/">@internetIdOptions.Value.Title</a>
        </p>

    </div>
</div>