@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}


<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Sign in with your InternetID</p>
        </div>

        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Input.UsernameOrEmail"></label>
                    <input asp-for="Input.UsernameOrEmail" class="form-control" autofocus />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="mb-3">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-outline-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                </div>
            </form>
        </section>
        @if (Model.ExternalLogins != null && Model.ExternalLogins.Count > 0)
        {
            <hr />
            <section>
                <p>Use another service to log in.</p>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            </section>
        }

    </div>
</div>

<div class="card mb-3">
    <div class="card-body">

        <ul>
            <li>
                Forgot your password? <a id="forgot-password" asp-page="./ForgotPassword">Reset it here</a>
            </li>
            <li>
                Don't have an InternetID? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here</a>
            </li>
            <li>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend confirmation email</a>
            </li>
        </ul>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
