@page
@model LoginModel
@inject Microsoft.Extensions.Options.IOptions<InternetId.Common.InternetIdOptions> internetIdOptions

@{
    ViewData["Title"] = "Login";
}


<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Sign in with your @internetIdOptions.Value.Title</p>
        </div>

        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Input.Identifier"></label>
                    <input asp-for="Input.Identifier" class="form-control" autofocus />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a asp-page="Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Sign up</a>
                </div>
            </form>
        </section>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body text-center">

        <a asp-page="Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Register</a>
        <a asp-page="PasswordReset" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Reset your password</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
