@page
@model PasswordResetVerificationModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>

        <p class="alert alert-info">
            Enter the password reset code we sent you, and a new password for your account.
        </p>

        <div asp-validation-summary="All" class="text-danger"></div>

        @if (Model.ShowRequestCodeButton)
        {
            <form asp-page="PasswordReset" class="mb-3 text-center">
                <input type="hidden" asp-for="Input.Identifier" />
                <input type="hidden" asp-for="ReturnUrl" />
                <button type="submit" class="btn btn-outline-primary">Request a new code</button>
            </form>
        }

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <fieldset>

                <div class="mb-3">
                    <label asp-for="Input.Identifier"></label>
                    <input asp-for="Input.Identifier" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Code"></label>
                    <input asp-for="Input.Code" class="form-control" autofocus />
                </div>

                <div class="card mb-3">
                    <div class="card-body">

                        <div class="mb-3">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                        </div>

                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="submit" class="btn btn-primary">Reset password</button>
                    <a asp-page="PasswordReset" asp-route-identifier="@Model.Input.Identifier" asp-route-return-url="@Model.ReturnUrl" class="btn btn-outline-primary">Request a new code</a>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body text-center">

        <a asp-page="Login" asp-route-identifier="@Model.Input.Identifier" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Login</a>
        <a asp-page="Register" asp-route-identifier="@Model.Input.Identifier" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Register</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
