@page
@model PasswordResetModel
@{
    ViewData["Title"] = "Password reset";
}

<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Request a password reset code for your account</p>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>
                <div class="mb-3">
                    <label asp-for="Input.Identifier"></label>
                    <input asp-for="Input.Identifier" class="form-control" autofocus />
                </div>
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary">Send me a code</button>
            </div>
        </form>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body text-center">

        <a asp-page="Login" asp-route-identifier="@Model.Input.Identifier" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Login</a>
        <a asp-page="Register" asp-route-identifier="@Model.Input.Identifier" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Register</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
