@page
@model RegisterModel
@inject Microsoft.Extensions.Options.IOptions<InternetId.Common.InternetIdOptions> internetIdOptions
@{
    ViewData["Title"] = "Sign Up";
}

<div class="card mb-3">
    <div class="card-body">

        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <p class="lead">Register a new @internetIdOptions.Value.Title</p>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>

                <div class="mb-3">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" autofocus />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Input.DisplayName"></label>
                    <input asp-for="Input.DisplayName" class="form-control" />
                </div>

                <p class="alert alert-info span-card">Entering your email address will allow you to use it to recover your account.</p>

                <div class="mb-3">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>

            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body text-center">

        <a asp-page="PasswordReset" asp-route-identifier="@Model.Input.Username" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Reset your password</a>
        <a asp-page="Login" asp-route-identifier="@Model.Input.Username" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Login here</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
