@using Microsoft.Extensions.Primitives
@model AuthorizeViewModel
@inject Microsoft.Extensions.Options.IOptions<InternetId.Common.InternetIdOptions> internetIdOptions
@{ 
    ViewBag.Title = "Authorization";
}

<div class="card">
    <div class="card-body text-center">

        <h1>@ViewBag.Title</h1>

        <p class="lead">Do you want to log into <strong>@Model.ApplicationName</strong> with your <strong>@User.Identity!.Name</strong> @internetIdOptions.Value.Title?</p>

        <form class="mb-3" asp-action="Authorize">
            @* Flow the request parameters so they can be received by the Accept/Reject actions: *@
            @foreach (var parameter in Context.Request.HasFormContentType ? (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
            {
                <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
            }
            <input class="btn btn-lg btn-success" name="submit.Accept" type="submit" value="Yes" />
            <input class="btn btn-lg btn-danger" name="submit.Deny" type="submit" value="No" />
        </form>

        <hr />

        <p>@Model.ApplicationName requested these scopes: @Model.Scope</p>

    </div>
</div>
